@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Poppins:wght@400;600&family=Raleway:wght@400;600&display=swap');


*{

}
body
{
	font-family: "Raleway sans-serif;";
}
.container{
	
	width: 1440px;
	margin: 50px auto;
	background-color: rgba(0, 0, 0, 0.06);
}
.span-name{
	color: red;
}